<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div>
          <img
            src="{{ currentProduct?.imageUrl }}"
            class="img-responsive detail-img"
          />

          <h3>{{ currentProduct?.name }}</h3>
          <hr />
          <h4>Product Description</h4>
          <p>
            {{ currentProduct?.description }}
          </p>
          <div class="price">
            {{ currentProduct?.unitPrice | currency : "SR" }}
          </div>
          <p>
            <a href="shopping-detail.html" class="primary-btn">Add to cart</a>
          </p>

          <a routerLink="/products" class="mt-5">Back to Product List</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END PAGE CONTAINER-->
