<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <img
          src="assets/images/error-404.svg"
          alt="Uh-oh, something went wrong here"
          class="img-responsive"
        />

        <!-- If page is not found -->
        <div class="alert alert-warning col-md-12" role="alert">
          Oops! We couldn't find the resource you're looking for. Double-check
          the URL or explore other pages on our website.
        </div>

        <a routerLink="/products" class="mt-5">
          <button
            type="button"
            aria-label="Back To Homepage"
            class="btn btn-primary"
          >
            Back to home page
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
