<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img
          src="assets/images/logo.jpg"
          alt="luv2shop"
          class="img-responsive"
          style="width: 120px; height: 75px"
        />
      </a>
    </div>

    <app-product-category></app-product-category>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <!--search component-->
            <app-search></app-search>
            <!--login-status component-->
            <app-login-status></app-login-status>

            <!-- cart-status component-->
            <app-cart-status></app-cart-status>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
    <!-- <app-product-list></app-product-list> -->
  </div>
</div>

<!-- END PAGE CONTAINER-->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
